﻿@{
    ViewBag.Title = "Home Page";
}
<style>
 #wrapper {
    background: #0d6fba;
    display: inline-block;
    border-radius: 500px;
    margin: 10px;
    position: relative;
    padding: 50px;
    cursor: pointer;
}
.circle {
    width: 50px;
    height: 50px;
    position:relative;
    color: beige;
    background-color: black;
    border-radius: 50%;
    cursor:pointer;
}
.line{
    position: absolute;
    height: 3px;
    width: 55%;
    background: #fff;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1,55) 0.35s;
    left: 22.5%;
    top: 25%;
}
.top{
    top: 32%;
}
.middle{
    top: 48%;
}
.bottom{
    top: 64%;
}
.icon.close .top{
    transform: rotate(45deg);
    top: 48%;
}
</style>
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="wrapper">
        <div class="circle icon">
            <span class="line top"></span>
            <span class="line middle"></span>
            <span class="line bottom"></span>
        </div>
    </div>
</div>
<div class="jumbotron">
    <h1>Web page</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

    $(".wrapper").click(function () {
        $(".icon").toggleClass("close");
    });
    </script>
}