﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<style type="text/css">
#wrapper {
    background: #0d6fba;
    display: inline-block;
    border-radius: 500px;
    margin: 10px;
    position: relative;
    padding: 50px;
    cursor: pointer;
}
.circle {
    width: 50px;
    height: 50px;
    position:relative;
    color: beige;
    background-color: black;
    border-radius: 50%;
    cursor:pointer;
}
.line{
    position: absolute;
    height: 3px;
    width: 55%;
    background: #fff;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1,55) 0.35s;
    left: 22.5%;
    top: 25%;
}
.top{
    top: 32%;
}
.middle{
    top: 48%;
}
.bottom{
    top: 64%;
}
.icon.close .top{
    transform: rotate(45deg);
    top: 48%;
}
</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="wrapper">
        <div class="navbar-header">
            <div class="circle icon">
                <span class="line top"></span>
                <span class="line middle"></span>
                <span class="line bottom"></span>
            </div>  
        </div>
    </div>
</div>  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".wrapper").click(function () {
                $(".icon").toggleClass("close");
            });
        });
    
    </script>
}


